@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --theme-color:rgb(218, 47, 47);
}

html{
    scroll-behavior: smooth;
}
h1{
    font-size: 10vw;
}
body{
    background-image:url(/Architectcovai/images/trend-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    margin-bottom:0 !important; 
    user-select: none;
    box-shadow: 10px 1px 20px black;
}
.unorder-lst-1 li:hover span{
    transition:0.4s;
    color:var(--theme-color);
}
section{
    height:100vh;
}
.sect-1{
    /* background */
    background:linear-gradient(rgba(0, 0, 0, 0.615),rgba(0, 0, 0, 0.555)),url(/Architectcovai/images/bg1.jpg);
    background-size: cover;
    height: calc(100vh - 50px);
}
.content-sect-1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height: 100%;
    /* background: white; */

}
.head-1{
    display: flex;
    flex-direction: column;
    /* background: black; */
    justify-content: center;
    height: 60%;
    color:white;
}
.head-1 .heading{
    cursor: pointer;
    user-select: none;
}
.color-root{
    color:var(--theme-color);
}
.head-2{
    height:40%;
}
.boxs{
    height:100%;
    /* background: red; */
}
.box{
    height:90%;
    background: rgba(255, 255, 255, 0.722);
    border-radius:10px;
    margin-left:50px;
    margin-top:10px;
    padding:40px;
    color:black;
    text-align: center;
    cursor: pointer;
    transition:0.3s;
}
.box:hover{
    background: white;

}
.box:hover h2{
    color:var(--theme-color);
}
.sect-2{
    background:radial-gradient(rgba(0, 0, 0, 0.495) 25%,rgba(0, 0, 0, 0.495) 25%,rgba(0, 0, 0, 0.495) 25%);
    color:white;
    /* background video/gif */
    /* background: url(/images/videoplayback.mp4); */
    position: relative;
}
.bg-video{
    position:absolute;
    right:0;
    bottom:0;
    z-index: -1;
}
.info h1{
    font-size:90px;
    transition: 0.5s;

}
.info-hover:hover{
    -webkit-text-stroke: 1.2px var(--theme-color);
    cursor:pointer;
}
.construct{
    position: absolute;
    top:15%;
    left:15%;
    -webkit-text-stroke:1px white ;
    color:transparent;

}
.home{
    position: absolute;
    top:35%;
    left:35%;
    -webkit-text-stroke:1px white ;
    color:transparent;
}
.coimbatore{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-text-stroke:1px white ;
    color:transparent; 
    /* transition:0.4s; */
}
.sect-3{
    background: transparent;
}
.trend{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landscape{
    /* background: red; */
    height: calc(100vh - 350px);
}
.dtl-landscape{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: rgba(5, 5, 5, 0.547);
    border:1px solid black;
    border-radius:250px 250px 250px 250px;
    color:white;
    backdrop-filter: blur(10px);
    /* margin-right: 40px; */
    transition:0.5s;
}

.dtl-landscape:hover{
    background:rgba(255, 255, 255, 0.407);
    color:black ;
}
.dtl-landscape:hover .btn{
    transition:0.4s;
    background: black !important;
    color:white !important;
}
.btn:hover{
    opacity:0.7;
}
.img-landscape{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dtl-landscape h2{
    cursor: pointer;
    transition: 0.3s;
}
.dtl-landscape h2:hover{
    color:var(--theme-color);
}
.a1{
    margin-left:40px;
}
.sect-4{
    background: transparent;
}
.sect-5{
    background: transparent;
}



.flip-card {
    background-color: transparent;
    width: 600px;
    height: 600px;
    perspective: 1000px;
    padding:0 !important;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
  }
  .flip-card-front img{
    height: 100%;
    width: 100%;
  }
  
  .flip-card-back {
    background-color: #0e0e0e;
    color: white;
    transform: rotateY(180deg);
    padding:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
  }
  .flip-card-back h1{
    user-select: none;
    transition:0.3s;
  }
  .flip-card-back h1:hover{
    color:var(--theme-color);
  }
  .flip-card-back p{
    margin-top:10px;
    color:rgb(150, 147, 147);
  }
  .flip-card-back span{
    color:rgb(205, 194, 194);
  }
  .flip-card-back .btn span{
    color:rgba(0, 0, 0, 0.686);
  }

  .sect-6{
    min-height: 100vh;
    background: rgb(229, 228, 213);
  }
.sect-6 .div1 h1:hover{
    transition:0.4s;
    color:var(--theme-color) !important;
}
.sect-6 .div1{
    height: 90px;
}
.div{
    margin-top:30px;
    height:30%;
}
.imgs{
    height:70px;
    transition:0.4s;
    transition-delay: 0.2s;
}
.imgs:hover{
    opacity: 0.79;
    transform: scale(1.03);  
}